{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Про Нас</h1>
        
        <a href="{{ path('about_edit', { 'id': abouts.id }) }}"><button type="submit" class="ui-button ui-corner-all ui-widget">Редагувати</button></a><br/><br/>        
    </div>
    
    <div class="text-marning">
        {{ abouts.about | raw}}    
    </div>        
    <br/><br/><br/><br/>  

{% endblock %}
