{% extends 'base.html.twig' %}
{% block title %}Контакти редагуванння{% endblock %}
{% block body %}

    <div class="text-center">
        <h1>Контакти редагуванння</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br/><button type="submit" class="btn btn-outline-primary">Редагувати</button>
        {{ form_end(edit_form) }}

        <br/> <a href="{{ path('contact_index') }}" class="btn btn-outline-primary">Вернутись назад</a><br/><br/><br/>
    </div>

{% endblock %}
