{% extends 'base.html.twig' %}
{% block title %}Наші контакти{% endblock %}

{% block body %}

    <div class="text-center">
        <h1>Контакти</h1>      
    </div>
    
    <div class="text-marning">
        {{ contacts.contact | raw}}    
    </div>        
    <br/><br/><br/><br/>  

{% endblock %}
