{% block body %}

<h1>Перезвоніть мені !</h1>
<h2>Ім'я: {{ call_name }}</h2>
<h2>Телефон: {{ call_mob }}</h2>
<h2>Зручний час: {{ call_time_b }} - {{ call_time_e }}</h2>
                       
{% endblock %}
