{% block body %}

<h1>Хочу у вас купити !</h1>
<h2>Ім'я: {{ call_name }}</h2>
<h2>Телефон: {{ call_mob }}</h2>
<h2>Товар: {{ oder_code }}</h2>
<h2>Ціна: {{ oder_price }}</h2>                       
{% endblock %}
