
            <!--serch and kategori-->
            <section id="searchmain-container">
                <div class="wrapper">

                    <form>
                        <div class="form-row align-items-center search_div searchmain">
                            <div class="col-10 ml-2">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text wight_background"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Пошук...">
                                </div>
                            </div>

                            <div class="col-auto">
                                <button type="button" class="btn btn-light mb-2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp; <b>ПОШУК</b></button>
                            </div>
                        </div>
                    </form>

                    <div class="maincategories">

                        <div class="maincategories-list clr">

                            <div class="li fleft">
                                <div class="item">
                                    <a href="https://www.site.ua/detskiy-mir/" data-id="36" class="link parent   ">
                                        <span><b>Детский мир</b></span>
                                        <span class="cat-icon cat-icon-circle cat-icon-i">Д</span>
                                    </a>
                                </div>
                            </div>

                            <div class="li fleft">
                                <div class="item">
                                    <a href="https://www.site.ua/nedvizhimost/" data-id="1" class="link parent   ">
                                        <span><b>Недвижимость</b></span>
                                        <span class="cat-icon cat-icon-circle cat-icon-i">Н</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <!--meny hide style="display:none"-->
                        <div class="subcategories-list clr" style="" data-subcategory="36" id="bottom36">

                            <div class="subcategories-title">
                                <a href="https://www.site.ua/detskiy-mir/" data-id="36" class="link inlblk"><strong> Смотреть все объявления</strong></a> в Детский мир				</div>
                            <ul>
                                <li class="fleft">
                                    <a data-id="539" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskaya-odezhda/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская одежда</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="542" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskaya-obuv/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская обувь</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="68" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskie-kolyaski/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детские коляски</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="clear"></li>
                                <li class="fleft">
                                    <a data-id="538" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskie-avtokresla/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детские автокресла</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="69" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskaya-mebel/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская мебель</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="543" data-category-id="36" href="https://www.site.ua/detskiy-mir/igrushki/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Игрушки</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="clear"></li>
                                <li class="fleft">
                                    <a data-id="889" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskiy-transport/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детский транспорт</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="544" data-category-id="36" href="https://www.site.ua/detskiy-mir/kormlenie/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Товары для кормления</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="fleft">
                                    <a data-id="545" data-category-id="36" href="https://www.site.ua/detskiy-mir/tovary-dlya-shkolnikov/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Товары для школьников</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="clear"></li>
                                <li class="fleft">
                                    <a data-id="71" data-category-id="36" href="https://www.site.ua/detskiy-mir/prochie-detskie-tovary/" class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Прочие детские товары</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="clear"></li>
                            </ul>
                        </div>

                        <div class="maincategories-list clr">

                            <?php for ($i = 1; $i <= 4; $i++) { ?>
                                <div class="li fleft">
                                    <div class="item">
                                        <a href="https://www.site.ua/rabota/" data-id="6" class="link parent   ">
                                            <span>Работа</span>
                                            <span class="cat-icon cat-icon-circle cat-icon-i">Р</span>
                                        </a>
                                    </div>
                                </div>
                                <?php
                            }
                            ?>

                        </div>

                        <div class="maincategories-list clr">

                            <?php for ($i = 1; $i <= 4; $i++) { ?>
                                <div class="li fleft">
                                    <div class="item">
                                        <a href="https://www.site.ua/rabota/" data-id="6" class="link parent   ">
                                            <span>Работа</span>
                                            <span class="cat-icon cat-icon-circle cat-icon-i">Р</span>
                                        </a>
                                    </div>
                                </div>
                                <?php
                            }
                            ?>

                        </div>

                        <!--orstyp-->
                        <div class="maincategories-list clr"><div id="div-gpt-dsk-hp-vc2-new"><div></div></div></div>

                    </div>

                </div>
            </section>




