{% extends "::base.html.twig" %}

{% block title %}Моделі{% endblock %}

{% block serch %}{% endblock %}
{% block body_up %}{% endblock %}
{% block body_down %}{% endblock %}

{% block body %}

    <!--serch and kategori-->
    <section id="searchmain-container">
        <div class="wrapper">

            <div class="form-row align-items-center search_div searchmain">
                <form class="form-inline">
                    <div class="input-group col-10">
                        <span class="input-group-addon wight_background height37"><span
                                    class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Пошук...">
                    </div>

                    <button type="button" class="btn btn-light"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span> &nbsp; <b>ПОШУК</b>
                    </button>
                </form>
            </div>


            <div class="maincategories">

                {% set i = 0 %}
                {% for model in modelMenus %}

                    {% if i % 4 == 0 %}<div class="maincategories-list clr">{% endif %}


                    <div class="li fleft">
                        <div class="item">
                            <a href="{{ path('products_autos', { 'model_id': model.id }) }}" data-id="36" class="link parent   ">
                                <span><b>{{ model.name  |replace({' ':'' , '  ':''}) |first }}</b></span>
                                <span class="cat-icon cat-icon-circle cat-icon-i">Д</span>
                            </a>
                        </div>
                    </div>


                    {% if i % 4 == 3 %}</div>{% endif %}

                    {% set i = i + 1 %}
                {% endfor %}
                {% if i % 4 != 0 %}</div>{% endif %}


                <!--meny hide style="display:none"-->
                <div class="subcategories-list clr" style="" data-subcategory="36" id="bottom36">

                    <div class="subcategories-title">
                        <a href="https://www.site.ua/detskiy-mir/" data-id="36" class="link inlblk"><strong> Смотреть
                                все объявления</strong></a> в Детский мир
                    </div>
                    <ul>
                        <li class="fleft">
                            <a data-id="539" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/detskaya-odezhda/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская одежда</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="542" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskaya-obuv/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская обувь</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="68" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/detskie-kolyaski/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детские коляски</span>
                                        </span>
                            </a>
                        </li>
                        <li class="clear"></li>
                        <li class="fleft">
                            <a data-id="538" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/detskie-avtokresla/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детские автокресла</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="69" data-category-id="36" href="https://www.site.ua/detskiy-mir/detskaya-mebel/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детская мебель</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="543" data-category-id="36" href="https://www.site.ua/detskiy-mir/igrushki/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Игрушки</span>
                                        </span>
                            </a>
                        </li>
                        <li class="clear"></li>
                        <li class="fleft">
                            <a data-id="889" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/detskiy-transport/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Детский транспорт</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="544" data-category-id="36" href="https://www.site.ua/detskiy-mir/kormlenie/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Товары для кормления</span>
                                        </span>
                            </a>
                        </li>
                        <li class="fleft">
                            <a data-id="545" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/tovary-dlya-shkolnikov/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Товары для школьников</span>
                                        </span>
                            </a>
                        </li>
                        <li class="clear"></li>
                        <li class="fleft">
                            <a data-id="71" data-category-id="36"
                               href="https://www.site.ua/detskiy-mir/prochie-detskie-tovary/"
                               class="link-relatedcategory cat-36 inlblk tdnone icon-link">
                                        <span class="link block category-name">
                                            <span>Прочие детские товары</span>
                                        </span>
                            </a>
                        </li>
                        <li class="clear"></li>
                    </ul>
                </div>

                <div class="maincategories-list clr">

                    <?php for ($i = 1; $i <= 4; $i++) { ?>
                    <div class="li fleft">
                        <div class="item">
                            <a href="https://www.site.ua/rabota/" data-id="6" class="link parent   ">
                                <span>Работа</span>
                                <span class="cat-icon cat-icon-circle cat-icon-i">Р</span>
                            </a>
                        </div>
                    </div>
                    <?php
                            }
                            ?>

                </div>

                <div class="maincategories-list clr">

                    <?php for ($i = 1; $i <= 4; $i++) { ?>
                    <div class="li fleft">
                        <div class="item">
                            <a href="https://www.site.ua/rabota/" data-id="6" class="link parent   ">
                                <span>Работа</span>
                                <span class="cat-icon cat-icon-circle cat-icon-i">Р</span>
                            </a>
                        </div>
                    </div>
                    <?php
                            }
                            ?>

                </div>

                <!--orstyp-->
                <div class="maincategories-list clr">
                    <div id="div-gpt-dsk-hp-vc2-new">
                        <div></div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <div class="text-center">
        <h1>Моделі</h1>
    </div>

    <div class="text-marning">

        {% for model in modelMenus %}
            <div class="marning-smoll"><a
                        href="{{ path('products_autos', { 'model_id': model.id }) }}">{{ model.name }}</a></div>
        {% endfor %}

    </div>
    <br/><br/><br/><br/>


{% endblock %}
