{% extends 'base.html.twig' %}
{% block title %}Рубрика 3 створення{% endblock %}

{% block body %}

    <div class="text-center">

        <h1><span class="admin-sabrubric-color">Рубрика 1 &gt; Рубрика 2 &gt;</span> Рубрика 3 створення</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="text" name="no_submit" id="no_submit" value="2" style="display: none;">
        
        <br/><button class="btn btn-outline-primary">Створити</button>
        
        {{ form_end(form) }}
         
        <br/> <a href="{{ path('datamenu_index') }}"><button class="btn btn-outline-primary">Вернутись назад</button></a><br/><br/><br/>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $(".mid").change(function () {
                $("#no_submit").val(1);
                $('form[name="shop_menubundle_datamenu"]').submit();
            });
        });
    </script>   
{% endblock %}