{% extends 'base.html.twig' %}
{% block title %}Мобільні новера:{% endblock %}
{% block body %}

    <div class="text-center">
        <h1>Мобільні новера:</h1>
        
        <a href="{{ path('mobile_edit', { 'id': mobiles.id }) }}" class="btn btn-outline-primary">Редагувати</a><br/><br/>
    </div>
    
    <div class="text-marning">
        {{ mobiles.mobile | raw}}    
    </div>        
    <br/><br/><br/><br/>  

{% endblock %}
