{% extends "::base.html.twig" %}

{% block title %}SecurityUserBundle:Login:login{% endblock %}

{% block body %}

    <div class="text-center">

        <div class="login-box-body"><br/><br/>
            <p class="login-box-msg">Залогінитись</p>
            <br/><br/>
            <form action="{{ path('security_user_login_check') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control admin-input" id="username" name="_username"
                           value="{{ last_username }}" placeholder="Логін чи емейл">

                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control admin-input color_text" name="_password"
                           placeholder="Пароль">

                </div>
                <div class="align-middle">
                    <input type="checkbox"> <span class="login-rememberme"> Запямятати мене</span>
                </div>
                <br/>
                <button type="submit" class="btn btn-outline-primary">Залогінитись</button>

            </form>

            {% if error is defined and error %}
                <div class="container"
                     style="width:850px;margin:20px;background: #337AB7;color: white;border-radius: 2px;font-size: 18px;">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <br/><br/>
            {#<a href="#">I forgot my password</a><br>#}
            {#<a href="register.html" class="text-center">Register a new membership</a>#}

        </div>
    </div>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>

{% endblock %}
